__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
env/
.env
*.pyc
*.pyo
*.pyd
.DS_Store
*.swp
dist/
build/
.mypy_cache/
*.egg-info/
artifacts/
data/
notebooks/.ipynb_checkpoints/
cdk.out/
/.idea/
/.vscode/
